{% for flash in app.flashes('error') %}
	<div class="flashError">
		{{flash}}
	</div>

{% endfor %}

{% for flash in app.flashes('success') %}
	<div class="flashSuccess">
		{{flash}}
	</div>

{% endfor %}

{% for flash in app.flashes('warning') %}
	<div class="flashWarning">
		{{flash}}
	</div>

{% endfor %}